# Ignore everything
*

# But not these files...
!.gitignore
!LICENSE
!README.md

!system/upenkit.ocmod.xml
!admin/controller/extension/theme/upenkit.php
!admin/language/en-gb/extension/theme/upenkit.php
!admin/view/template/extension/theme/upenkit.tpl
!catalog/view/theme/upenkit/
!catalog/view/theme/upenkit/*
!catalog/view/theme/upenkit/*/*
!catalog/view/theme/upenkit/*/*/*
!catalog/view/theme/upenkit/*/*/*/*
!catalog/view/theme/upenkit/*/*/*/*/*
!catalog/view/theme/upenkit/*/*/*/*/*/*
!catalog/view/theme/upenkit/*/*/*/*/*/*/*
!catalog/view/theme/upenkit/*/*/*/*/*/*/*/*
!catalog/view/theme/upenkit/*/*/*/*/*/*/*/*/*
!catalog/view/theme/upenkit/*/*/*/*/*/*/*/*/*/*
!catalog/view/theme/upenkit/*/*/*/*/*/*/*/*/*/*/*
