# Ignore everything
*

# But not these files...
!.gitignore
!admin/controller/extension/theme/theme_upenkit.php
!admin/language/en-gb/extension/theme/theme_upenkit.php
!admin/view/template/extension/theme/theme_upenkit.tpl
!catalog/view/theme/upenkit
